<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ca1b570f-6a06-4d87-8fa1-ff260c50f767/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/PredictionService20240729092018</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://predictionservice20240729092018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>eb0cadbb-2e31-4ff5-b2db-8ac373d832a2</ProjectGuid>
    <PublishUrl>https://predictionservice20240729092018.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PredictionService20240729092018</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>