<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ca1b570f-6a06-4d87-8fa1-ff260c50f767/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/StudentPerformanceAPIGateway20240729093843</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://studentperformanceapigateway20240729093843.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3a09e2bb-ce28-49de-8c03-d74b6dac3a17</ProjectGuid>
    <PublishUrl>https://studentperformanceapigateway20240729093843.scm.azurewebsites.net/</PublishUrl>
    <UserName>$StudentPerformanceAPIGateway20240729093843</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>