<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ca1b570f-6a06-4d87-8fa1-ff260c50f767/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/StudySessionManagement20240729090253</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://studysessionmanagement20240729090253.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>72db424d-d870-4881-84c0-4c6e6b32324d</ProjectGuid>
    <PublishUrl>https://studysessionmanagement20240729090253.scm.azurewebsites.net/</PublishUrl>
    <UserName>$StudySessionManagement20240729090253</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>